.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 400px; 
  background: linear-gradient(135deg, #7f00ff, #e100ff);
  padding: 30px;
  margin-left: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.login-container h2 {
  color: white;
  margin-bottom: 20px;
}

.login-container form {
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 12px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}


.login-container input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
  outline: none;
}

.login-container button {
  padding: 10px 20px;
  background: white;
  color: #4facfe;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.login-container button:hover {
  background: #4facfe;
  color: white;
}

.error-msg {
  color: #ffdddd;
  background: rgba(255, 0, 0, 0.5);
  padding: 6px;
  border-radius: 6px;
  margin-bottom: 10px;
}
